<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style4.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"> <!-- Replace "styles/style.css" with the actual path to your CSS file -->
    <title>Employee's Corner</title>
</head>
<body align="center">
<!-- Top Bar -->
<div class="top-bar">
	<img id="logo" class="logo" src= {{ url_for('static', filename='/styles/8x8_logo.png') }} />
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/liveSupport">eKYC Process</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
    </ul>
</div>

<h3 align="left" style="color:white;">Employee Name: {{ name }}</h3>
	<div class="login-box">
		<h1>Customer Details</h1>
        <form action="new-customer">
            <input class="btn" type="submit" value="New Customer">
        </form>
        <br>
        <form action="existing-customer">
            <input class="btn" type="submit" value="Existing Customer">
        </form>
	</div>
</body>
</html>