/* Add CSS for the top bar */
.top-bar {
    background-color: #333; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px 0; /* Add padding to the top and bottom */
    text-align: center; /* Center-align the options */
}

.top-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-bar ul li {
    display: inline;
    margin-right: 20px; /* Add space between options */
}

.top-bar ul li a {
    text-decoration: none;
    color: #fff; /* Set the text color for links */
}

/* Add this to your CSS file (style1.css or style.css) */
.logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Add this to your CSS file (style1.css or style.css) */
.qrcode {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}